@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutaModel
@{
}
 
<div class="text-center">
<form method="POST">
  @* <label for="ID" class="form-label">Digite el ID de la Ruta:</label>
  <input type="number" class="form-control" id="ID" asp-for="Ruta.ID" placeholder="ID"> *@
  <label for="Origen" class="form-label">Digite el Origen de la Ruta:</label>
  <select name="origen" class="form-control" required>
        <option value="">Selecciona el origen</option>
        @foreach (var estacion in Model.Estaciones)
    {
        <option value="@estacion.id">@estacion.nombre</option>
    }
    </select>
  <label for="Destino" class="form-label">Digite el Destino de la Ruta:</label>
  <select name="destino" class="form-control" required>
        <option value="">Selecciona el destino</option>
        @foreach (var estacion in Model.Estaciones)
    {
        <option value="@estacion.id">@estacion.nombre</option>
    }
    </select>
  <label for="Tiempo Estimado" class="form-label">Digite el Tiempo Estimado de la Ruta:</label>
  <input type="number" class="form-control" id="Tiempo Estimado" name="tiempo_estimado" placeholder="Tiempo Estimado">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>