@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Tiempo Estimado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Av Boyaca</td>
      <td>Ciudad Universitaria</td>
      <td>60</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Museo Nacional</td>
      <td>Av Boyaca</td>
      <td>90</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ciudad Universitaria</td>
      <td>Museo Nacional</td>
      <td>75</td>
    </tr>
  </tbody>
</table>