@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="ID" class="form-label">Digite el ID de la Estacion:</label>
  <input type="number" class="form-control" id="ID" name="ID" placeholder="ID">
  <label for="Nombre de la estacion" class="form-label">Digite el Nombre de la estacion:</label>
  <input type="text" class="form-control" id="Nombre de la estacion" name="Nombre de la estacion" placeholder="Nombre de la estacion">
  <label for="Coordenada X" class="form-label">Digite la Coordenada X:</label>
  <input type="number" class="form-control" id="Coordenada X" name="Coordenada X" placeholder="Coordenada X">
  <label for="Coordenada Y" class="form-label">Digite la Coordenada Y:</label>
  <input type="number" class="form-control" id="Coordenada Y" name="Coordenada Y" placeholder="Coordenada Y">
  <label for="Tipo" class="form-label">Digite el Tipo de Ruta:</label>
  <input type="text" class="form-control" id="Tipo" name="Tipo de" placeholder="Tipo">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>