@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre de la Estacion</th>
      <th scope="col">Direccion</th>
      <th scope="col">Coordenada X</th>
      <th scope="col">Coordenada Y</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Americas - Av Boyaca</td>
      <td>xxxx</td>
      <td>456</td>
      <td>207</td>
      <td>Expresos</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ciudad Universitaria</td>
      <td>xxxx</td>
      <td>567</td>
      <td>234</td>
      <td>Expresos</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Museo Nacional</td>
      <td>xxxx</td>
      <td>123</td>
      <td>456</td>
      <td>Ruta Facil</td>
    </tr>
  </tbody>
</table>